colorama==0.4.4
Deprecated==1.2.13
distlib==0.3.4
https://github.com/iqoptionapi/iqoptionapi/archive/refs/heads/master.zip
PyGithub==1.55
pyTelegramBotAPI==4.2.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
urllib3==1.24.3
websocket-client==0.56.0
bs4
