api-iqoption-faria==7.0.0
PyJWT==2.3.0
pyTelegramBotAPI==4.2.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyupgrade==2.19.1
urllib3==1.24.3
websocket-client==0.56.0
PyGithub==1.55
Deprecated==1.2.13
